body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
}

li {
    padding: 5px 10px;
}

header {
    background-color: #f2f2f2;
    padding: 10px;
}

footer {
    background-color: #ddd;
    text-align: center;
    padding: 10px;
}
